<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @client.pais %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @client.numero %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
