<div class="container">
<p id="notice"><%= notice %></p>

<h1>Players</h1>


  

  <tbody>
    <% @players.each do |player| %>
    <div class="col-md-3">
    <div class="thumbnail">
      
      
        <%= player.nombre %>
        <%= image_tag player.photo, :class => 'img-responsive' %>
    <div class="buttons", style="margin-top: 10px; margin-bottom: 10px ">
        <%= player.numero %>
        <%= player.posicion %>
        <%= player.pais %>
        <%= link_to 'Show', player, :class => 'btn' %>
        <%= link_to 'Edit', edit_player_path(player), :class => 'btn' %>
        <%= link_to 'Destroy', player, method: :delete, :class => 'btn', data: { confirm: 'Are you sure?' } %>
          </div> 
        </div>
      </div>
    <% end %>
  </tbody>


<br>

<%= link_to 'New Player',new_player_path %>
</div>