<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.nombre %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @player.photo,  :class => 'img-responsive'  %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @player.numero %>
</p>

<p>
  <strong>Posicion:</strong>
  <%= @player.posicion %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @player.pais %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
